.vscode/**
.vscode-test/**
src/**
out/**/*.map
node_modules/**
.gitignore
.eslintcache
.yarn-integrity
*.vsix
*.zip
package-lock.json
yarn.lock
pnpm-lock.yaml
tsconfig.json
**/*.ts
**/*.map
.github/**
README.md
